#quote-slider {
  position: relative;
  width: 55%;
  max-width: 550px;
  margin: 50px auto;
  text-align: center;
  min-height: 250px;
  transition: height 0.5s ease; /* smooth resizing */
}

#quoteContainer {
  position: relative;
  aspect-ratio: 6/5;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.quote-card {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.45s ease;
  padding: 30px;
  font-size: 1.1rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  visibility: hidden;
  overflow-y: auto;
  scrollbar-color: lightgray transparent;
  scrollbar-width: thin;
}

/* WebKit (Safari + Chrome + Edge) */
.quote-card.active::-webkit-scrollbar {
  width: 6px;
}
.quote-card.active::-webkit-scrollbar-track {
  background: transparent;
}
.quote-card.active::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

.quote-card.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 2rem;
  padding: 5px 12px;
  border-radius: 8px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease;
  font-size: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.arrow:hover {
  opacity: 1;
}

.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

@media (max-width: 900px) {
  #quoteContainer {
    width: 90%;
    aspect-ratio: 6/5;
    padding: 0 10px;
  }
  .arrow.left {left: -10px;}
  .arrow.right {right: -10px;}
}